## Source code
src
test
.gitattributes

## Demo application
demo-application

## Visual Studio Code settings
.vscode

## Documentation
doc

## NPM
.npmignore
*.tgz

## Build files
.travis.yml
tsconfig.json
tslint.json

## Tests
**/*.spec.js
**/*.spec.d.ts

## Code coverage
coverage
