## Folders
.github/
.vscode/
doc/
src/
test/

## Files
.editorconfig
.gitattributes
.gitignore
.gitmind
.npmignore
.travis.yml
tsconfig.json
tslint.json
renovate.json
*.tgz
**/*.spec.js
**/*.spec.d.ts

## Sample application
src/server*

## Code coverage
coverage
